<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Passion+One:wght@400;700&family=Titan+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Passion+One:wght@400;700&family=Staatliches&family=Titan+One&display=swap" rel="stylesheet">
<ion-header class="ion-no-border">  <!-- baslangıc -->
  <ion-toolbar class="grid-header">  <!--grid background -->
    
    <ion-grid class="by-header"> <!--header kısmı -->
      <ion-row> 
        <ion-col class="ion-text-left" size="6"><h2>Dashboard</h2></ion-col>
        <ion-col class="ion-text-right" size="6">
          <ion-button (click)="onClick()" fill="clear" color="light">
            <ion-icon name="menu-sharp"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  
  </ion-toolbar>
</ion-header>
<ion-content scroll-y="false" > <!--y scroll kapalı content baslangıc -->
  <div class="by-grid1-background"> <!--background devam -->
  <ion-grid class="by-gridbox1"> <!--1inci grid -->
    <ion-row>
      <ion-col size="12">
        <ion-label><h4>today</h4></ion-label></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label><h1>$todaydollars</h1></ion-label></ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-start" size="6">
            <ion-icon color="primary" name="swap-horizontal-sharp"></ion-icon>
            <ion-label> $Rides</ion-label>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-icon color="primary" name="hourglass-sharp"></ion-icon>
            <ion-label>$23h $14m</ion-label>
          </ion-col>
          </ion-row>
  </ion-grid>
</div>
    <ion-grid class="by-gridbox2">
     <ion-row>
      <ion-col size="6">
        <ion-label class="ion-text-start" >
          <h5>Wallet Balance</h5>
          <p>$alldollars</p>
        </ion-label>
        
      </ion-col>
      <ion-col class="by-textbutton" size="6">
        <ion-item  lines="none">
          <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
          <ion-label  color="primary">
            WİTHDRAW
          </ion-label>
            <ion-icon color="primary" name="arrow-forward-outline"></ion-icon>
          </ion-button>
          </ion-item>
      </ion-col>
     </ion-row>
     <ion-row class="ion-padding-top">
      <ion-col class="ion-text-start" size="6"><ion-label><h5>Payment History</h5></ion-label></ion-col>
      <ion-col class="ion-text-end" size="6">
        <ion-icon  name="ellipsis-vertical-outline"></ion-icon> 
    </ion-col>
     </ion-row>
     </ion-grid>
     <div>
      <ion-grid class="by-gridbox3">
        <ion-row>
          <ion-col class="ion-text-start" size="6">Ongoing Trip</ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-icon name="ellipsis-vertical-sharp"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="gridbox" size="6">
            

          </ion-col>
          <ion-col class="by-textbutton" size="6">
            <ion-item  lines="none">
              <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
              <ion-label  color="primary">
                NAVİGATİON
              </ion-label>
                <ion-icon color="primary" name="arrow-forward-outline"></ion-icon>
              </ion-button>
              </ion-item>
          </ion-col>
        </ion-row>
        <ion-row> 
          <ion-col class="ion-text-start" size="6">Upcoming Trips ($)</ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-icon name="chevron-forward-sharp"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>


     </div>
     <div class="by-slides-map"> 
      <ion-slides [option]="slidesOptions">
        <ion-slide>
          <ion-card>
            <ion-card-header>
              <ion-label><h5 class="ion-text-left">Previous trip</h5></ion-label>
              <ion-card-content>
               <ion-card-title><ion-img src="./assets/img/maps1.jpg"></ion-img></ion-card-title> 
               <ion-card-subtitle>$Date and $Time</ion-card-subtitle>
               </ion-card-content>
            </ion-card-header>
          </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
            <ion-card-header> 
              <ion-label><h5 class="ion-text-left">Previous trip</h5></ion-label>
              
              
              <ion-card-content>
               <ion-card-title><ion-img src="./assets/img/maps4.png"></ion-img></ion-card-title>
               <ion-card-subtitle>$Date and $Time</ion-card-subtitle>
               </ion-card-content>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
     </div>
     
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-tabs>
      
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="schedule">
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Schedule</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="speakers">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Speakers</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="map">
          <ion-icon name="map"></ion-icon>
          <ion-label>Map</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="about">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>

  
